<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-light bg-light mt-3">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="/img/main.jpg" width="40" height="32" class="me-2" alt="picture">
                <span class="fs-4">PuzzleLand</span>
            </a>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item"><a class="btn btn-outline-secondary me-2" href="/shop">Вход</a></li>
                    <li class="nav-item"><a class="btn btn-outline-secondary me-2" href="/shop/add">Регистрация</a></li>
                    <li class="nav-item"><a class="nav-link link-secondary" href="#">Избранное</a></li>
                    <li class="nav-item"><a class="nav-link link-secondary" href="#">Моя корзина</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>
