
    <header>
        <div class="container header-content">
            <a href="main.html" class="logo"><img src=../../static/img/logo.png></a>
            <button class="menu-toggle">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav-links">
                <li><a href="main.html">Главная</a></li>
                <li><a href="#">Выбрать тур</a></li>
                <li><a href="#">Собрать тур</a></li>
                <li id="login-link" ><a href="login.html">Войти</a></li>
                <li id="register-link" ><a href="register.html">Регистрация</a></li>
                <li id="profile-link" style="display: none;"><a href="profile.html">Личный кабинет</a></li>
                <li id="logout-link" style="display: none;"><a href="#" id="logout-btn">Выйти</a></li>
            </ul>
        </div>
    </header>
