<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MySqlConnection" connectionString="Server=MySQL-8.2;Database=sanatorium_staro;Uid=root;Pwd=;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>