<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Твоя матрица судьбы</title>
    <link rel="stylesheet" th:href="@{/css/main.css?v=1}"/>
    <link rel="icon" type="image/png" th:href="@{/img/main.png}"/>

</head>
<body>
<div th:replace="blocks/header :: header"></div>

<div class="calc-container">
    <h2>Рассчитай свою матрицу судьбы</h2>
    <input type="date" id="birthDate">
    <button id="calcBtn">Рассчитать</button>

    <div id="matrix" class="matrix-visual" style="display:none;">
        <h3>Твоя матрица:</h3>
        <div class="matrix-wrapper">
            <img th:src="@{/img/matrix.jpg}" alt="Матрица" class="matrix-bg"/>

            <div class="digit" id="d1">9</div>

            <div class="digit" id="d2">9</div>
            <div class="digit" id="d3">9</div>
            <div class="digit" id="d4">9</div>
            <div class="digit" id="d5">9</div>

            <div class="digit" id="d6">9</div>
            <div class="digit" id="d7">9</div>
            <div class="digit" id="d8">9</div>
            <div class="digit" id="d9">9</div>

            <div class="digit" id="d2_1">9</div>
            <div class="digit" id="d2_2">9</div>

            <div class="digit" id="d3_1">9</div>
            <div class="digit" id="d3_2">9</div>

            <div class="digit" id="d4_1">9</div>
            <div class="digit" id="d4_2">9</div>

            <div class="digit" id="d5_1">9</div>
            <div class="digit" id="d5_2">9</div>

            <div class="digit" id="d6_1">9</div>
            <div class="digit" id="d6_2">9</div>

            <div class="digit" id="d7_1">9</div>
            <div class="digit" id="d7_2">9</div>

            <div class="digit" id="d8_1">9</div>
            <div class="digit" id="d8_2">9</div>

            <div class="digit" id="d9_1">9</div>
            <div class="digit" id="d9_2">9</div>

            <div class="digit" id="d3_3">9</div>

            <div class="digit" id="d2_3">9</div>

            <div class="digit" id="d8_3">9</div>
            <div class="digit" id="d8_4">9</div>
            <div class="digit" id="d8_5">9</div>

        </div>

    </div>


</div>

<div th:replace="blocks/footer :: footer"></div>

<script>
    function sumDigits(num) {
        if (num < 23) {
            return num;
        }

        let sum = 0;
        while (num > 0) {
            sum += num % 10;
            num = Math.floor(num / 10);
        }
        if (sum > 22) {
            return sumDigits(sum);
        }

        return sum;
    }

    function calculateMatrix(dateStr) {
        const date = new Date(dateStr);
        const day = date.getDate();
        const month = date.getMonth() + 1;
        const year = date.getFullYear();

        let d1, d2, d3, d4, d5, d6, d7, d8, d9, d2_1,
            d2_2, d3_1, d3_2, d4_1, d4_2, d5_1, d5_2,
            d6_1, d6_2, d7_1, d7_2, d8_1, d8_2, d9_1,
            d9_2, d3_3, d2_3, d8_3, d8_4, d8_5;

        d2 = sumDigits(day);
        d3 = month;
        d4 = sumDigits(year);
        d5 = sumDigits(d2 + d3 + d4);
        d1 = sumDigits(d2 + d3 + d4 + d5);
        d6 = sumDigits(d2 + d3);
        d7 = sumDigits(d3 + d4);
        d8 = sumDigits(d4 + d5);
        d9 = sumDigits(d2 + d5);

        d2_2 = sumDigits(d1 + d2);
        d3_2 = sumDigits(d1 + d3);
        d4_2 = sumDigits(d1 + d4);
        d5_2 = sumDigits(d1 + d5);
        d6_2 = sumDigits(d1 + d6);
        d7_2 = sumDigits(d1 + d7);
        d8_2 = sumDigits(d1 + d8);
        d9_2 = sumDigits(d1 + d9);

        d2_1 = sumDigits(d2 + d2_2);
        d3_1 = sumDigits(d3 + d3_2);
        d4_1 = sumDigits(d4 + d4_2);
        d5_1 = sumDigits(d5 + d5_2);
        d6_1 = sumDigits(d6 + d6_2);
        d7_1 = sumDigits(d7 + d7_2);
        d8_1 = sumDigits(d8 + d8_2);
        d9_1 = sumDigits(d9 + d9_2);

        d3_3 = sumDigits(d1 + d2_2);

        d2_3 = sumDigits(d1 + d2_2);

        d8_3 = sumDigits(d4_2 + d5_2);

        d8_4 = sumDigits(d4_2 + d8_3);
        d8_5 = sumDigits(d5_2 + d8_3);

        return [d1, d2, d3, d4, d5, d6, d7, d8, d9, d2_1,
            d2_2, d3_1, d3_2, d4_1, d4_2, d5_1, d5_2, d6_1,
            d6_2, d7_1, d7_2, d8_1, d8_2, d9_1, d9_2, d3_3,
            d2_3, d8_3, d8_4, d8_5];
    }

    document.getElementById('calcBtn').addEventListener('click', () => {
        const dateStr = document.getElementById('birthDate').value;
        if (!dateStr) return;

        const digits = calculateMatrix(dateStr);
        document.getElementById('d1').textContent = digits[0];
        document.getElementById('d2').textContent = digits[1];
        document.getElementById('d3').textContent = digits[2];
        document.getElementById('d4').textContent = digits[3];
        document.getElementById('d5').textContent = digits[4];
        document.getElementById('d6').textContent = digits[5];
        document.getElementById('d7').textContent = digits[6];
        document.getElementById('d8').textContent = digits[7];
        document.getElementById('d9').textContent = digits[8];

        document.getElementById('d2_1').textContent = digits[9];
        document.getElementById('d2_2').textContent = digits[10];

        document.getElementById('d3_1').textContent = digits[11];
        document.getElementById('d3_2').textContent = digits[12];

        document.getElementById('d4_1').textContent = digits[13];
        document.getElementById('d4_2').textContent = digits[14];

        document.getElementById('d5_1').textContent = digits[15];
        document.getElementById('d5_2').textContent = digits[16];

        document.getElementById('d6_1').textContent = digits[17];
        document.getElementById('d6_2').textContent = digits[18];

        document.getElementById('d7_1').textContent = digits[19];
        document.getElementById('d7_2').textContent = digits[20];

        document.getElementById('d8_1').textContent = digits[21];
        document.getElementById('d8_2').textContent = digits[22];

        document.getElementById('d9_1').textContent = digits[23];
        document.getElementById('d9_2').textContent = digits[24];

        document.getElementById('d3_3').textContent = digits[25];

        document.getElementById('d2_3').textContent = digits[26];

        document.getElementById('d8_3').textContent = digits[27];

        document.getElementById('d8_4').textContent = digits[28];
        document.getElementById('d8_5').textContent = digits[29];


        document.getElementById('matrix').style.display = 'block';
    });


</script>
</body>
</html>