<div th:fragment="header">
    <header class="container site-header">
        <span class="logo">MATRIX</span>
        <nav>
            <ul>
                <li class="active"><a th:href="@{/}">Home</a></li>

                <li th:if="${login != null}">
                    <a th:href="@{/user}">Кабинет пользователя</a>
                </li>

                <li th:if="${user != null and user.role == T(com.example.demo.model.Role).ADMIN}">
                    <a th:href="@{/admin/vip-requests}">Заявки на VIP</a>
                </li>

                <li th:if="${login == null}">
                    <a th:href="@{/reg}" class="logout-btn">Регистрация</a>
                </li>
                <li th:if="${login == null}">
                    <a th:href="@{/login}" class="logout-btn">Авторизация</a>
                </li>

                <li class="btn"><a th:href="@{/matrix}">Рассчитать матрицу</a></li>
                <li class="btn"><a th:href="@{/compatibility}">Проверить совместимость</a></li>

                <li th:if="${login != null}">
                    <a th:href="@{/logout}" class="logout-btn">Выйти</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
